.modal-content {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .modal-header {
    background-color: #007bff;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .modal-body {
    font-size: 1.1em;
  }
  
  .modal-footer {
    background-color: #f1f1f1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  