.sidebar {
    background-color: black;
    color: white;
    width: 20%; 
    height: 100%;
  }
  
  .sidebar h2 {
    margin: 0;
    padding: 1rem;
  }
  
  .nav-item {
    padding: 0.5rem;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .nav-item.active {
    background-color: #333;
  }
  
  .nav-item.active .nav-link {
    color: yellow; /* Adjust color for active link */
  }
  
  @media screen and (max-width: 600px) {
    .sidebar {
      display: none;
    }
  }